* {
    box-sizing: border-box;
    outline: none;
    color: inherit;
}
html {
    height: 100%;
    font-size: 10px;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.body{
    position: relative;
    min-height: 100%;
    max-width: 100vw;
    overflow: hidden;
}

$fz: 10px;
$m8: 0.8;
$m6: 0.6;
$m5: 0.5;


$dash-size: calc(#{$fz} * 0.5);
$theme-color: mediumseagreen;
$fill-color: beige;


.check{

    &__text{

        line-height: 1.5;
        font-size: calc(#{$fz} * 1.6);

        &--support{
            font-size: calc(#{$fz} * 1.2);
            text-transform: uppercase;
        }
        &--custom{
            font-style: italic;
            text-align: center;
            font-size: calc(#{$fz} * 2);
        }

        &--info{
            font-size: calc(#{$fz} * 1.4);
            text-transform: uppercase;
        }
    }

    &__box{
        margin: 50px auto; //temp
        width: 100%;
        min-width: 320px;
        max-width: 700px;
        width: clamp(320px, 100%, 700px);
        position: relative;
        padding-top: 50%;
        padding-top: clamp(160px, 50%, 350px);
    }


   position: absolute;
   left: $fz;
   top: $fz;
   right: $fz;
   bottom: $fz;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: $fz;
    border: $dash-size dashed $theme-color;
    box-shadow: 
        0 0 0 calc(#{$fz} * 0.5 / 2) darken($theme-color, 20%),
        0 0 0 calc(#{$fz} * 0.5 * 2.5) #fff,
        inset 0 0 0 calc(#{$fz} * 0.5 / 2) darken($theme-color, 20%),
        0 $dash-size calc(#{$fz} * 0.5 * 2) calc(#{$fz} * 0.5 * 3) rgba(0,0,0,0.5),
        inset 0 0 100vw 100vw $fill-color;
    padding: calc(#{$fz} * 2);

    &__logo{
        grid-column: span 1;
        grid-row: span 2;
        justify-self: center;
        align-self: center;
        font-size: calc(#{$fz} * 5);
    }

    &__info{
        grid-column: span 4;
        grid-row: span 2;
        align-self: center;
        padding: 0 calc(#{$fz} * 2);


        &--name {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: calc(#{$fz});
        }
        &--address{
            max-height: calc(1.5em * 2);
            overflow: hidden;
        }

    }

    &__date{
        grid-column: span 2;
        grid-row: span 2;
        align-self: center;
        text-align: center;

        &--date{
            border-bottom: 1px solid black;
        }

        &--sign{
            text-transform: uppercase;
            line-height: 2;
        }
    }

    &__pay{
        align-self: center;
        font-size: calc(#{$fz} * 1.6);
        white-space: nowrap;
        line-height: 1.2;
    }

    &__name{
        grid-column: span 4;
        align-self: center;
        overflow: hidden;
        max-height: calc(1.5 * 2 * #{$fz});
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    &__sum{
        grid-column: span 2;
        align-self: center;
        overflow: hidden;
        display: flex;
        justify-content: center;

        &--sign{
            font-size: calc(#{$fz} * 3);
            margin-left: $fz;
        }

        &--info{
            white-space: nowrap;
            align-self: center;
            line-height: 2.5;
            margin-left: calc(#{$fz} / 3);
        }
    }

    &__amount{
        align-self: flex-end;
        text-align: center;
        grid-column: span 5;
        border-bottom: 1px solid black;
        max-height: calc(1.5 * 2 * #{$fz});
        overflow: hidden;
    }

    &__currency{
        align-self: flex-end;
        white-space: nowrap;
        overflow: hidden;
        font-size: calc(#{$fz} * 2);
    }

    &__lock{
        display: flex;
        align-self:  flex-end;
        justify-self: center;
        padding-bottom: calc(#{$fz} / 2);
        font-size: $fz;
        & span {
            padding-left: calc(#{$fz} / 2);
        }
        
        & i{
            font-size: calc(#{$fz} * 2);
            align-self:  center;
        }
    }

    &__for{
        grid-column: span 4;
        border-bottom: 1px solid black;
        align-self: flex-end;
        max-height: calc(1.5 * 2 * #{$fz});
        overflow: hidden;
        display: flex;

        &--sign{
            margin-right: calc(#{$fz});
            align-self: flex-end;
            line-height: 2;
        }

        &--info{
            flex-grow: 2;
        }
    }

    &__sign{
        grid-column: span 3;
        border-bottom: 1px solid black;
        align-self: flex-end;
        max-height: calc(1.5 * 2 * #{$fz});
        overflow: hidden;
        display: flex;

        &--info{
            flex-grow: 2;
        }

        &--sign{
            align-self: flex-end;
            line-height: 2;
            margin-left: calc(#{$fz});
        }
    }
}


@media screen and (max-width: 600px) {
    .check{

        &__text{
            font-size: calc(#{$fz} * #{$m8} * 1.6);
    
            &--support{
                font-size: calc(#{$fz} * #{$m8} * 1.2);
            }
            &--custom{
                font-size: calc(#{$fz} * #{$m8} * 2);
            }
    
            &--info{
                font-size: calc(#{$fz} * #{$m8} * 1.4);
            }
        }
        
        left: calc(#{$fz} * #{$m8});
        top: calc(#{$fz} * #{$m8});
        right: calc(#{$fz} * #{$m8});
        bottom: calc(#{$fz} * #{$m8});
        gap: calc(#{$fz} * #{$m8});
        border: calc(#{$dash-size} * #{$m8}) dashed $theme-color;
        box-shadow: 
            0 0 0 calc(#{$dash-size} * #{$m8} / 2) darken($theme-color, 20%),
            0 0 0 calc(#{$dash-size} * #{$m8} * 2.5) #fff,
            inset 0 0 0 calc(#{$dash-size} * #{$m8} / 2) darken($theme-color, 20%),
            0 $dash-size calc(#{$dash-size} * #{$m8} * 2) calc(#{$dash-size} * #{$m8} * 3) rgba(0,0,0,0.5),
            inset 0 0 100vw 100vw $fill-color;
        padding: calc(#{$fz} * #{$m8} * 2);
    
        &__logo{
            font-size: calc(#{$fz} * #{$m8} * 5);
        }
    
        &__info{
            padding: 0 calc(#{$fz} * #{$m8} * 2);
    
            &--name {
                margin-bottom: calc(#{$fz} * #{$m8} / 2);
            }
    
        }
    
        &__pay{
            font-size: calc(#{$fz} * #{$m8} * 1.6);
        }
    
        &__name{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m8});
        }
    
        &__sum{
            &--sign{
                font-size: calc(#{$fz} * #{$m8} * 3);
                margin-left: calc(#{$fz} * #{$m8});
            }
    
            &--info{
                margin-left: calc(#{$fz} * #{$m8} / 3);
            }
        }
    
        &__amount{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m8});
        }
    
        &__currency{
            font-size: calc(#{$fz} * #{$m8} * 2);
        }
    
        &__lock{
            padding-bottom: calc(#{$fz} * #{$m8} / 2);
            font-size: calc(#{$fz} * #{$m8});
            & span {
                padding-left: calc(#{$fz} * #{$m8} / 2);
            }
            
            & i{
                font-size: calc(#{$fz} * #{$m8} * 2);
            }
        }
    
        &__for{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m8});
    
            &--sign{
                margin-right: calc(#{$fz} * #{$m8});
            }
        }
    
        &__sign{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m8});
           
            &--sign{
                margin-left: calc(#{$fz} * #{$m8});
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .check{

        &__text{
            font-size: calc(#{$fz} * #{$m6} * 1.6);
    
            &--support{
                font-size: calc(#{$fz} * #{$m6} * 1.2);
            }
            &--custom{
                font-size: calc(#{$fz} * #{$m6} * 2);
            }
    
            &--info{
                font-size: calc(#{$fz} * #{$m6} * 1.4);
            }
        }
        
        left: calc(#{$fz} * #{$m6});
        top: calc(#{$fz} * #{$m6});
        right: calc(#{$fz} * #{$m6});
        bottom: calc(#{$fz} * #{$m6});
        gap: calc(#{$fz} * #{$m6});
        border: calc(#{$dash-size} * #{$m6}) dashed $theme-color;
        box-shadow: 
            0 0 0 calc(#{$dash-size} * #{$m6} / 2) darken($theme-color, 20%),
            0 0 0 calc(#{$dash-size} * #{$m6} * 2.5) #fff,
            inset 0 0 0 calc(#{$dash-size} * #{$m6} / 2) darken($theme-color, 20%),
            0 $dash-size calc(#{$dash-size} * #{$m6} * 2) calc(#{$dash-size} * #{$m6} * 3) rgba(0,0,0,0.5),
            // inset 0 0 0 calc(#{$dash-size} * #{$m6} * 1.2) #fff,
            inset 0 0 100vw 100vw $fill-color;
        padding: calc(#{$fz} * #{$m6} * 2);
    
        &__logo{
            font-size: calc(#{$fz} * #{$m6} * 5);
        }
    
        &__info{
            padding: 0 calc(#{$fz} * #{$m6} * 2);
    
            &--name {
                margin-bottom: calc(#{$fz} * #{$m6} / 2);
            }
    
        }
    
        &__pay{
            font-size: calc(#{$fz} * #{$m6} * 1.6);
        }
    
        &__name{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m6});
        }
    
        &__sum{
            &--sign{
                font-size: calc(#{$fz} * #{$m6} * 3);
                margin-left: calc(#{$fz} * #{$m6});
            }
    
            &--info{
                margin-left: calc(#{$fz} * #{$m6} / 3);
            }
        }
    
        &__amount{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m6});
        }
    
        &__currency{
            font-size: calc(#{$fz} * #{$m6} * 2);
        }
    
        &__lock{
            padding-bottom: calc(#{$fz} * #{$m6} / 2);
            font-size: calc(#{$fz} * #{$m6});
            & span {
                padding-left: calc(#{$fz} * #{$m6} / 2);
            }
            
            & i{
                font-size: calc(#{$fz} * #{$m6} * 2);
            }
        }
    
        &__for{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m6});
    
            &--sign{
                margin-right: calc(#{$fz} * #{$m6});
            }
        }
    
        &__sign{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m6});
           
            &--sign{
                margin-left: calc(#{$fz} * #{$m6});
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .check{

        &__text{
            font-size: calc(#{$fz} * #{$m5} * 1.6);
    
            &--support{
                font-size: calc(#{$fz} * #{$m5} * 1.2);
            }
            &--custom{
                font-size: calc(#{$fz} * #{$m5} * 2);
            }
    
            &--info{
                font-size: calc(#{$fz} * #{$m5} * 1.4);
            }
        }
        
        left: calc(#{$fz} * #{$m5});
        top: calc(#{$fz} * #{$m5});
        right: calc(#{$fz} * #{$m5});
        bottom: calc(#{$fz} * #{$m5});
        gap: calc(#{$fz} * #{$m5});
        border: calc(#{$dash-size} * #{$m5}) dashed $theme-color;
        box-shadow: 
            0 0 0 calc(#{$dash-size} * #{$m5} / 2) darken($theme-color, 20%),
            0 0 0 calc(#{$dash-size} * #{$m5} * 2.5) #fff,
            inset 0 0 0 calc(#{$dash-size} * #{$m5} / 2) darken($theme-color, 20%),
            0 $dash-size calc(#{$dash-size} * #{$m5} * 2) calc(#{$dash-size} * #{$m5} * 3) rgba(0,0,0,0.5),
            // inset 0 0 0 calc(#{$dash-size} * #{$m5} * 1.2) #fff,
            inset 0 0 100vw 100vw $fill-color;
        padding: calc(#{$fz} * #{$m5} * 2);
    
        &__logo{
            font-size: calc(#{$fz} * #{$m5} * 5);
        }
    
        &__info{
            padding: 0 calc(#{$fz} * #{$m5} * 2);
    
            &--name {
                margin-bottom: calc(#{$fz} * #{$m5} / 2);
            }
    
        }
    
        &__pay{
            font-size: calc(#{$fz} * #{$m5} * 1.6);
        }
    
        &__name{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m5});
        }
    
        &__sum{
            &--sign{
                font-size: calc(#{$fz} * #{$m5} * 3);
                margin-left: calc(#{$fz} * #{$m5});
            }
    
            &--info{
                margin-left: calc(#{$fz} * #{$m5} / 3);
            }
        }
    
        &__amount{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m5});
        }
    
        &__currency{
            font-size: calc(#{$fz} * #{$m5} * 2);
        }
    
        &__lock{
            padding-bottom: calc(#{$fz} * #{$m5} / 2);
            font-size: calc(#{$fz} * #{$m5});
            & span {
                padding-left: calc(#{$fz} * #{$m5} / 2);
            }
            
            & i{
                font-size: calc(#{$fz} * #{$m5} * 2);
            }
        }
    
        &__for{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m5});
    
            &--sign{
                margin-right: calc(#{$fz} * #{$m5});
            }
        }
    
        &__sign{
            max-height: calc(1.5 * 2 * #{$fz} * #{$m5});
           
            &--sign{
                margin-left: calc(#{$fz} * #{$m5});
            }
        }
    }
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    .check{


        &__box{
            // outline:  25px solid orange;
            box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
            position: relative;
            box-sizing: border-box;

            &::after{
                content: "";
                position: absolute;
                left: calc(#{$fz} * 0.5 * 2.5 - #{$fz} * 0.5);
                right: calc(#{$fz} * 0.5 * 2.5 - #{$fz} * 0.5);
                top: calc(#{$fz} * 0.5 * 2.5 - #{$fz} * 0.5);
                bottom: calc(#{$fz} * 0.5 * 2.5 - #{$fz} * 0.5);
                border: calc(#{$fz} * 0.5 / 2) solid darken($theme-color, 20%);

            }

            &::before{
                content: "";
                // outline: 25px solid red;
                // display: inline-block;
                position: absolute;
                z-index: 1;
                left: calc(#{$fz} * 0.5 * 2.5 + #{$fz} * 0.5 / 2);
                right: calc(#{$fz} * 0.5 * 2.5 + #{$fz} * 0.5 / 2);
                top: calc(#{$fz} * 0.5 * 2.5 + #{$fz} * 0.5 / 2);
                bottom: calc(#{$fz} * 0.5 * 2.5 + #{$fz} * 0.5 / 2);
                border: calc(#{$fz} * 0.5 / 2) solid darken($theme-color, 20%);

            }
        }

        //logo
        &>*:nth-child(1){
            -ms-grid-row:1; 
            -ms-grid-column:1; 
            -ms-grid-column-span:1;
            -ms-grid-row-span:3;
        }
    
        //info
        &>*:nth-child(2){
            -ms-grid-row:1; 
            -ms-grid-column:3; 
            -ms-grid-column-span:7;
            -ms-grid-row-span:3;
        }
    
        //date
        &>*:nth-child(3){
            -ms-grid-row:1; 
            -ms-grid-column:11; 
            -ms-grid-column-span:3;
            -ms-grid-row-span:3;
        }
    
        //pay
        &>*:nth-child(4){
            -ms-grid-row:5; 
            -ms-grid-column:1; 
            -ms-grid-column-span:1;
            -ms-grid-row-span:1;
        }
    
        //name
        &>*:nth-child(5){
            -ms-grid-row:5; 
            -ms-grid-column:3; 
            -ms-grid-column-span: 7;
            -ms-grid-row-span:1;
        }
    
        //sum
        &>*:nth-child(6){
            -ms-grid-row: 5; 
            -ms-grid-column:11; 
            -ms-grid-column-span:3;
            -ms-grid-row-span:1;
        }
    
        //amount
        &>*:nth-child(7){
            -ms-grid-row:7; 
            -ms-grid-column:1; 
            -ms-grid-column-span:9;
            -ms-grid-row-span:1;
        }
    
        //currency
        &>*:nth-child(8){
            -ms-grid-row:7; 
            -ms-grid-column:11; 
            -ms-grid-column-span:1;
            -ms-grid-row-span:1;
        }
    
        //lock
        &>*:nth-child(9){
            -ms-grid-row:7; 
            -ms-grid-column:13; 
            -ms-grid-column-span:1;
            -ms-grid-row-span:1;
        }
    
        //for
        &>*:nth-child(10){
            -ms-grid-row:9; 
            -ms-grid-column:1; 
            -ms-grid-column-span:7;
            -ms-grid-row-span:1;
        }
    
        //sign
        &>*:nth-child(11){
            -ms-grid-row:9; 
            -ms-grid-column:9; 
            -ms-grid-column-span:5;
            -ms-grid-row-span:1;
        }
    }

    @media screen and (max-width: 600px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$fz} * 0.5 * #{$m8} * 2.5 - #{$fz} * 0.5 * #{$m8});
                    right: calc(#{$fz} * 0.5 * #{$m8} * 2.5 - #{$fz} * 0.5 * #{$m8});
                    top: calc(#{$fz} * 0.5 * #{$m8} * 2.5 - #{$fz} * 0.5 * #{$m8});
                    bottom: calc(#{$fz} * 0.5 * #{$m8} * 2.5 - #{$fz} * 0.5 * #{$m8});
                    border: calc(#{$fz} * 0.5 * #{$m8} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$fz} * 0.5 * #{$m8} * 2.5 + #{$fz} * 0.5 * #{$m8} / 2);
                    right: calc(#{$fz} * 0.5 * #{$m8} * 2.5 + #{$fz} * 0.5 * #{$m8} / 2);
                    top: calc(#{$fz} * 0.5 * #{$m8} * 2.5 + #{$fz} * 0.5 * #{$m8} / 2);
                    bottom: calc(#{$fz} * 0.5 * #{$m8} * 2.5 + #{$fz} * 0.5 * #{$m8} / 2);
                    border: calc(#{$fz} * 0.5 * #{$m8} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }
    
    @media screen and (max-width: 500px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$fz} * 0.5 * #{$m6} * 2.5 - #{$fz} * 0.5 * #{$m6});
                    right: calc(#{$fz} * 0.5 * #{$m6} * 2.5 - #{$fz} * 0.5 * #{$m6});
                    top: calc(#{$fz} * 0.5 * #{$m6} * 2.5 - #{$fz} * 0.5 * #{$m6});
                    bottom: calc(#{$fz} * 0.5 * #{$m6} * 2.5 - #{$fz} * 0.5 * #{$m6});
                    border: calc(#{$fz} * 0.5 * #{$m6} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$fz} * 0.5 * #{$m6} * 2.5 + #{$fz} * 0.5 * #{$m6} / 2);
                    right: calc(#{$fz} * 0.5 * #{$m6} * 2.5 + #{$fz} * 0.5 * #{$m6} / 2);
                    top: calc(#{$fz} * 0.5 * #{$m6} * 2.5 + #{$fz} * 0.5 * #{$m6} / 2);
                    bottom: calc(#{$fz} * 0.5 * #{$m6} * 2.5 + #{$fz} * 0.5 * #{$m6} / 2);
                    border: calc(#{$fz} * 0.5 * #{$m6} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }
    
    @media screen and (max-width: 400px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$fz} * 0.5 * #{$m5} * 2.5 - #{$fz} * 0.5 * #{$m5});
                    right: calc(#{$fz} * 0.5 * #{$m5} * 2.5 - #{$fz} * 0.5 * #{$m5});
                    top: calc(#{$fz} * 0.5 * #{$m5} * 2.5 - #{$fz} * 0.5 * #{$m5});
                    bottom: calc(#{$fz} * 0.5 * #{$m5} * 2.5 - #{$fz} * 0.5 * #{$m5});
                    border: calc(#{$fz} * 0.5 * #{$m5} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$fz} * 0.5 * #{$m5} * 2.5 + #{$fz} * 0.5 * #{$m5} / 2);
                    right: calc(#{$fz} * 0.5 * #{$m5} * 2.5 + #{$fz} * 0.5 * #{$m5} / 2);
                    top: calc(#{$fz} * 0.5 * #{$m5} * 2.5 + #{$fz} * 0.5 * #{$m5} / 2);
                    bottom: calc(#{$fz} * 0.5 * #{$m5} * 2.5 + #{$fz} * 0.5 * #{$m5} / 2);
                    border: calc(#{$fz} * 0.5 * #{$m5} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }


    @media screen and (max-width: 320px) {
        .check{
            &__box{
                padding-top: 160px;
            }
        }
    }

    @media screen and (min-width: 700px) {
        .check{
            &__box{
                padding-top: 350px;
                
            }
        }
    }

}

@supports (not (-webkit-hyphens:none)) and (not (-moz-appearance:none)) {

    .check{
        &__box{
            box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
            position: relative;
            box-sizing: border-box;
            // z-index: 1;
            // outline: 25px solid orange;

            &::after{
                content: "";
                // outline: 25px solid red;
                // display: inline-block;
                position: absolute;
                // z-index: 10;
                left: calc(#{$dash-size} * 2.5 - #{$dash-size});
                right: calc(#{$dash-size} * 2.5 - #{$dash-size});
                top: calc(#{$dash-size} * 2.5 - #{$dash-size});
                bottom: calc(#{$dash-size} * 2.5 - #{$dash-size});
                border: calc(#{$dash-size} / 2) solid darken($theme-color, 20%);

            }

            &::before{
                content: "";
                // outline: 25px solid red;
                // display: inline-block;
                position: absolute;
                z-index: 1;
                left: calc(#{$dash-size} * 2.5 + #{$dash-size} / 2);
                right: calc(#{$dash-size} * 2.5 + #{$dash-size} / 2);
                top: calc(#{$dash-size} * 2.5 + #{$dash-size} / 2);
                bottom: calc(#{$dash-size} * 2.5 + #{$dash-size} / 2);
                border: calc(#{$dash-size} / 2) solid darken($theme-color, 20%);

            }
        }
    }

    @media screen and (max-width: 320px) {
        .check{
            &__box{
                padding-top: 160px;
            }
        }
    }

    @media screen and (min-width: 700px) {
        .check{
            &__box{
                padding-top: 350px;
                
            }
        }
    }

    @media screen and (max-width: 600px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$dash-size} * #{$m8} * 2.5 - #{$dash-size} * #{$m8});
                    right: calc(#{$dash-size} * #{$m8} * 2.5 - #{$dash-size} * #{$m8});
                    top: calc(#{$dash-size} * #{$m8} * 2.5 - #{$dash-size} * #{$m8});
                    bottom: calc(#{$dash-size} * #{$m8} * 2.5 - #{$dash-size} * #{$m8});
                    border: calc(#{$dash-size} * #{$m8} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$dash-size} * #{$m8} * 2.5 + #{$dash-size} * #{$m8} / 2);
                    right: calc(#{$dash-size} * #{$m8} * 2.5 + #{$dash-size} * #{$m8} / 2);
                    top: calc(#{$dash-size} * #{$m8} * 2.5 + #{$dash-size} * #{$m8} / 2);
                    bottom: calc(#{$dash-size} * #{$m8} * 2.5 + #{$dash-size} * #{$m8} / 2);
                    border: calc(#{$dash-size} * #{$m8} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }
    
    @media screen and (max-width: 500px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$dash-size} * #{$m6} * 2.5 - #{$dash-size} * #{$m6});
                    right: calc(#{$dash-size} * #{$m6} * 2.5 - #{$dash-size} * #{$m6});
                    top: calc(#{$dash-size} * #{$m6} * 2.5 - #{$dash-size} * #{$m6});
                    bottom: calc(#{$dash-size} * #{$m6} * 2.5 - #{$dash-size} * #{$m6});
                    border: calc(#{$dash-size} * #{$m6} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$dash-size} * #{$m6} * 2.5 + #{$dash-size} * #{$m6} / 2);
                    right: calc(#{$dash-size} * #{$m6} * 2.5 + #{$dash-size} * #{$m6} / 2);
                    top: calc(#{$dash-size} * #{$m6} * 2.5 + #{$dash-size} * #{$m6} / 2);
                    bottom: calc(#{$dash-size} * #{$m6} * 2.5 + #{$dash-size} * #{$m6} / 2);
                    border: calc(#{$dash-size} * #{$m6} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }
    
    @media screen and (max-width: 400px) {
        .check{
            &__box{
                &::after{
                    left: calc(#{$dash-size} * #{$m5} * 2.5 - #{$dash-size} * #{$m5});
                    right: calc(#{$dash-size} * #{$m5} * 2.5 - #{$dash-size} * #{$m5});
                    top: calc(#{$dash-size} * #{$m5} * 2.5 - #{$dash-size} * #{$m5});
                    bottom: calc(#{$dash-size} * #{$m5} * 2.5 - #{$dash-size} * #{$m5});
                    border: calc(#{$dash-size} * #{$m5} / 2) solid darken($theme-color, 20%);
    
                }
    
                &::before{
                    left: calc(#{$dash-size} * #{$m5} * 2.5 + #{$dash-size} * #{$m5} / 2);
                    right: calc(#{$dash-size} * #{$m5} * 2.5 + #{$dash-size} * #{$m5} / 2);
                    top: calc(#{$dash-size} * #{$m5} * 2.5 + #{$dash-size} * #{$m5} / 2);
                    bottom: calc(#{$dash-size} * #{$m5} * 2.5 + #{$dash-size} * #{$m5} / 2);
                    border: calc(#{$dash-size} * #{$m5} / 2) solid darken($theme-color, 20%);
    
                }
            }
        }
    }
}